body{
    background-color: rgb(46, 46, 136);
    color: white;
}
.login{
    background-color: rgb(246, 251, 253);
    width: 100%;   
    color:rgb(46, 46, 136) ;
    padding: 90px; 
}
.login form{
    width: 60%;
    margin: auto;
}